version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: web
      APP_PORT: 9999
      PROXY_AUTH_ADD: "false"

  web:
    image: liwei2633/gopeed:latest
    platform: linux/arm64
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/app/storage
      - ${APP_DATA_DIR}/downloads:/app/Downloads
    environment:
      - TZ=Etc/UTC
      - PUID=1000
      - PGID=1000
